.app-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh; /* Ensure the container takes at least the full viewport height */
    overflow: auto;
    border: 1px solid black;
  }
  
  .locked-section {
    flex: 0.8; /* Allow this section to grow and take up available space */
    padding: 20px; /* Optional: Add padding to the locked section */
    border: 1px solid black;
  }
  
  .additional-content {
    padding: 200px; /* Optional: Add padding to the additional content section */
    /* Add more styling as needed */
    border: 1px solid black;
  }

